html,
body {
    margin: 0;
    padding: 0;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}

.logo-img {
    height: 40px;
}

.container header ul a {
    padding-top: 0;
}

